---
---

@import "{{ site.theme }}";

body {
    color: #232323
}

header,
footer,
th {
    display: none;
}

table tr td:last-child {
    text-align: right;
}

table tr td:first-child {
    font-style: italic;
}

table td {
    padding: 0;
    font-size: 0.85rem;
}

section {
    width: 500px;
    float: right;
    width: 100%;
}

h2 {
    border-bottom: 3px solid #278dc1;
    padding-bottom: 0.75rem;
}

h3 {
    margin-bottom: 0.25rem;
}

#daniel-zrust {
    padding: 0.5rem;
    margin: 0rem;
}

#daniel-zrust,
#daniel-zrust + table {
    background-color: #3b3838;
    color: #fff;
}

#daniel-zrust + table {
    margin-bottom: 1.5rem;
}

#daniel-zrust + table td {
    padding: 0rem 1rem;
}

#daniel-zrust + table tr:last-child td {
    padding-bottom: 0.5rem;
}

#daniel-zrust + table tr td:last-child {
    padding-right: 0.75;
}

#daniel-zrust + table tr td:first-child {
    font-style: normal;
}

th,
td {
    border-bottom: none;
}
